.boxStory {
  padding: 4px !important;

  .box-img {
    position: relative;
    text-align: center;

    .card-img-top {
      display: block;
      //height: 400px;
      object-fit: cover;
      object-position: center;
    }

    @media only screen and (max-width: 400px) {
      .card-img-top {
        height: 300px;
      }
    }

    p {
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
    }
  }

  .card-body {
    padding: 5px !important;
    margin: 0 auto;
    max-width: 260px;
    min-height: 58px;

    .card-title {
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
    }

    h5 {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 5px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .boxStory {
    padding: 4px !important;
    .card-body {
      padding: 1px !important;
      min-height: 35px;
      max-height: 58px;

      .card-title {
        font-size: 12px;
      }
    }
  }
}