#history {
  .row-tb:hover {
    cursor: pointer;
    background-color: #cfe2ff;

    td {
      color: #084298 !important;
    }
  }

  .title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
  }

  .description {
    * {
      --bs-text-opacity: 1;
      color: #6c757d !important;
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  .share-btn {
    font-size: 13px;
    float: right;
    padding: 0;
  }
}