$base-color: #db0075;

.view {
  #title {
    text-align: center;
    margin-bottom: 30px;

    h1 {
      color: $base-color !important;
      font-weight: 600;
    }
  }

  button.active {
    background-color: $base-color !important;
  }

  .btn {
    a {
      background-color: $base-color !important;
      color: #fff;
      border-color: $base-color !important;
      margin: 0 20px;
    }
  }

  .flexRow {
    display: flex;

    .flex1 {
      margin-left: 10px;
    }
  }

  .flex1 {
    flex: 1;
  }

  .list-title {
    color: $base-color !important;
    margin-top: 20px;
  }

  #image {
    text-align: center;

    img {
      height: 100%;
      width: auto;
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    .mt-2 {
      display: none;
    }

    .pl-3 {
      margin-top: 15px;
    }
  }

  a {
    color: $base-color;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline !important;
    }
  }

  #status, .follow-btn {
    max-width: 540px;
    margin: 0 auto;

    div {
      color: #777676;
      font-weight: 600;
    }
  }

  .follow-btn {
    button, i{
      color: #fff!important;
    }
    div {
      margin: 10px 10px;
    }
  }

  div {
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
  }

  #chapters {
    .detail-content {
      display: none;
    }
  }
}